<h2>New Here?</h2>
<h3><%= link_to 'Click to Signup', signup_path %></h3>
  <div id="background"class="container"> 
 
  </div>

  <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by jcomp - www.freepik.com</a>
