<h2>New Here?</h2>
<h3><%= link_to 'Click to Signup', signup_path %></h3>
  <div class="container"> 
  <img src="/home/learn/schoolapp/app/assets/images/book-with-green-board-background_1150-3837.jpg" class="responsive-img"> 
  </div>

  <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by jcomp - www.freepik.com</a>
