
  <div class="container"> 
  <img class="responsive-img" src="schoolapp/assets/images/book-with-green-board-background_1150-3837.jpg"> 
  <a href="https://www.freepik.com/free-photos-vectors/background">Background photo created by jcomp - www.freepik.com</a>
  </div>
