<h1><%= @school.name %></h1>

<div id="all_teachers"></div>

<%= button_to('Show All Teachers', school_teachers_path(@school), method: "get", class: 'get_all_teachers')%>

<% if current_user.admin %>
  <%= button_to 'Add New Teacher', new_school_teacher_path(@school), method: "get" %>
<% end %>

<%= button_to 'Go Back to your Account Page', parent_path(current_user), method: "get" %>

